{%  extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block tittle %}Flask{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Login</h1>
</div>
<div class="col-md-4">
{{ wtf.quick_form(form) }}
<br>
    <p>
        New User? <a href="{{ url_for('auth.register') }}">Click here to register</a>
    </p>
<br>
    <p>
        Forget password? <a href="{{ url_for('auth.reset_password_request') }}">Click here to reset password</a>
    </p>
<br>
    <p>
        Change your password? <a href="{{ url_for('auth.change_password') }}">Click here to change password</a>
    </p>
<br>
    <p>
        Change your email? <a href="{{ url_for('auth.change_email_request') }}">Click here to change email</a>
    </p>
</div>
{% endblock %}