{%   extends 'base.html' %}
{% block title  %}Flask-{{ current_user.user_name }}{% endblock %}
{% block page_content %}
    <div class="page-header">
       <img class="img-rounded profile-thumbnail" src="{{ user.gravatar(size=256) }}">
    <div class="profile-header">
          <h1> {{ user.user_name }}</h1>

        {% if user.name or user.location %}
        <p>
            {% if user.name %}{{ user.name }}{% endif %}
            {% if user.location %}
            From <a href="http://map.baidu.com/?q={{ user.location }}">{{ user.location }}</a>
            {% endif %}
        </p>
        {% endif %}
        {% if current_user.is_administrator() %}
        <p><a href="mailto:{{ user.emai }}">{{ user.email }}</a></p>
        {% endif %}
        {% if user.about_me %}
        <p>
            {{ user.about_me }}
        </p>
        {% endif %}
        <p>
            Member Since {{ moment(user.member_since).format('L') }}.
            Last Seen {{  moment(user.last_seen).fromNow() }}
        </p>
        <br>
        {% if user == current_user %}
        <a class="btn btn-default" href="{{ url_for('main.edit_profile') }}">Edit profile</a>
        {% endif %}
        {% if current_user.is_administrator() %}
        <a class="btn btn-danger" href="{{ url_for('main.edit_profile_admin', id=user.id) }}">Edit profile force</a>
        {% endif %}
        <br>
        <h3>Post by {{ user.user_name }}</h3>
            {% include '_post.html' %}
    </div>

    </div>
{% endblock %}
